window {
    margin: 0px;
    font-size: 22px;
    font-family: "Liberation Mono";
    border-radius: 0px;
    color: #d8d8d8;
}

#input {
    font-family: "Liberation Mono";
    margin: 0px;
    border: 0px solid #0000;
    border-radius: 6px;
    background-color: #5b6078;
    color: #cad3f5;
}

#inner-box {
    border-radius: 0px;
    margin: 0px;
    border: 0px solid #0000;
    border-radius: 0;
    background-color: #24273a;
}

#outer-box {
    margin: 0px;
    border: 3px solid #181926;
    background-color: #181926;
    border-radius: 0px;
}

#scroll {
    margin: 0px;
}

#text {
    color: #b8c0e0;
    margin: 0px;
    margin-left: 2px;
}

#entry:selected {
    background-color: #6e738d;
    font-family: "Liberation Mono";
    border-radius: 0px;
}

#text:selected {
    color: #a6da95;
}
