window {
    margin: 0px;
    font-size: 22px;
    font-family: "Liberation Mono";
    border-radius: 0px;
    color: #d8d8d8;
}

#input {
    font-family: "Liberation Mono";
    margin: 0px;
    border: 0px solid #0000;
    border-radius: 6px;
    background-color: #80A0FF;
    color: #ffffff;
}

#inner-box {
    border-radius: 0px;
    margin: 0px;
    border: 0px solid #0000;
    border-radius: 0;
    background-color: #080808;
}

#outer-box {
    margin: 0px;
    border: 3px solid #6b6b6b;
    background-color: #080808;
    border-radius: 0px;
}

#scroll {
    margin: 0px;
}

#text {
    color: #d8d8d8;
    margin: 0px;
    margin-left: 2px;
}

#entry:selected {
    background-color: #2B2B2B;
    font-family: "Liberation Mono";
    border-radius: 0px;
}

#text:selected {
    color: #ffffff;
}
