window {
    margin: 0px;
    font-size: 22px;
    font-family: "Liberation Mono";
    border-radius: 0px;
    color: #e0def4;
}

#input {
    font-family: "Liberation Mono";
    margin: 0px;
    border: 0px solid #0000;
    border-radius: 0px;
    background-color: #26233a;
    color: #e0def4;
}

#inner-box {
    margin: 0px;
    border: 0px solid #0000;
    border-radius: 0px;
    background-color: #1f1d2e;
}

#outer-box {
    margin: 0px;
    border: 3px solid #191724;
    background-color: #191724;
    border-radius: 0px;
}

#scroll {
    margin: 0px;
}

#text {
    color: #e0def4;
    margin: 0px;
    margin-left: 2px;
}

#entry:selected {
    background-color: #403d52;
    font-family: "Liberation Mono";
    font-weight: bold;
    border-radius: 0px;
}

#text:selected {
    color: #9ccfd8;
}
