@import "./rose-pine-moon.css";
* {
    font-family: "BlexMono Nerd Font", monospace;
    font-size: 18px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    transition: none;
    animation: none;
}

window#waybar {
    /* workaround for flickering bug when waybar hidden */
	background-color: rgba(35, 33, 54, 0.99);
	/*background-color: rgba(250, 244, 237, 0.99);*/
    color: @text;
    border: none;
}

#battery,
#cpu,
#memory,
#disk,
#network,
#pulseaudio,
#wireplumber,
#temperature,
#tray,
#idle_inhibitor,
#privacy {
    padding: 0 6px;
    color: @text;
}

#workspaces button {
    padding: 0 4px;
    background: transparent;
    color: @muted;
}

#workspaces button.focused {
    color: @text;
    background: @highlightlow;
    box-shadow: inset 0 -2px @text;
}

#workspaces button.urgent {
    color: @love;
    box-shadow: inset 0 -2px @love;
}

#workspaces button:hover {
    background: transparent;
}

#battery.charging,
#battery.plugged {
    color: @foam;
}

#battery.critical:not(.charging) {
    color: @love;
}

#network.disconnected {
    color: @love;
}

#pulseaudio.muted,
#wireplumber.muted {
    color: @muted;
}

#temperature.critical {
    color: @love;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#privacy-item {
    padding: 0 4px;
    color: @text;
}

label:focus {
    background: transparent;
}

#custom-wvkbd,
#custom-power {
    padding-left: 6px;
    padding-right: 6px;
}
